registry=https://registry.npmmirror.com/
@next:registry=https://registry.npmmirror.com
@typescript-eslint:registry=https://registry.npmmirror.com
@eslint-community:registry=https://registry.npmmirror.com
fetch-retries=8
fetch-retry-mintimeout=30000
fetch-retry-maxtimeout=180000
maxsockets=3
